nav {
    z-index: 900;
    width: 100%;
    height: 100%;
    color: #FAFAFA;
    background-color: #F2F2F2;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    filter: drop-shadow(0 0 10px #0008);
    font-family: "Chula";
}

nav header {
    padding: 1rem;
    background-color: #202040;
    width: 100%;
    height: fit-content;
}

nav main {
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: scroll;
    color: #202040;
}

nav footer {
    padding: 1rem;
    width: 100%;
    height: fit-content;
    background-color: #202040;
}

nav footer h3 {
    color: #FAFAFA;
}

nav h1 {
    color: #ffffff;
    font-family: "Chula";
    font-weight: 700;
    text-align: start;
    filter: drop-shadow(0 0 10px #E491C9);
}

nav h2 {
    font-family: "Chula";
    font-weight: 700;
    color: #202040;
    filter: drop-shadow(0 0 10px #404080);
}

nav h3 {
    font-family: "Chula";
}

nav p {
    font-family: "Chula";
    font-weight: 400;
    color: #CECECE;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nav_button {
    height: 25px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    transition: all 400ms ease;

}

.nav_button:hover {
    background-color: #202040;
    padding-left: 5px;
    transition: all 200ms ease;
}

.nav_button:hover a {
    color: #FAFAFA;
    transition: all 200ms ease;
}

.nav_button a {
    width: 100%;
    height: 100%;
    color: #FFAA00;
    text-decoration: none;
    font-family: "Chula";
    align-items: center;
    justify-content: start;
    display: flex;
    user-select: none;
    transition: all 400ms ease;
}

#selected {
    pointer-events: none;
    background-color: #ccc;
    padding-left: 5px;
    animation: opacity_fadeIn 0.5s ease;
}

#selected a {
    color: #888;
}

















#main_footer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    border-radius: 1rem;
    background-color: #f2f2f2aa;
}

#main_footer > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}